
<body style="background-image: url('https://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg');">
    <style>
        body {
            background-size: cover;
        }
    </style>



    <main role="main" class="container">
        <br> <br>
        <h1 class="mb-0 text-white lh-100" align="center">Tak for din besvarelse!</h1>
        <br /> <br />
        <small class="d-block text-center mt-3">
            <a class="btn btn-outline-primary" asp-controller="Student" asp-action="Svar">Videre</a>
        </small>


    </main>
    <br /><br /><br /><br /><br />    <br /><br /><br /><br /><br />    <br /><br /><br /><br /><br />    <br /><br /><br /><br /><br />    <br /><br /><br /><br /><br />    <br /><br /><br /><br /><br />
</body>
